.subscription_bg_color {
  background-color: var(--intro-bg-dark-blue);
}

.subscription__title {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--white);
}

.subscription__content {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgba(255, 255, 255, 0.838);
}

.subscription__invalid__email {
  color: var(--light-red);
}
